p, label {
  font-size: 1em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.6em;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fb;
  color: #222;
  margin: 0;
  padding: 1rem;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

h1 {
    font-size: 30px
}
h2 {
    font-size: 20px;
    font-weight: 500;
}

a {
  text-decoration: none;
  color: #3498db;
}

button {
  font-size: 0.8rem;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
button:disabled {
  opacity: 0.0;
  cursor: not-allowed;
}
/*button:hover {
  background-color: #2980b9;
}*/

.actionButton {
  background-color: #ffffff00;
  font-size: 2.0em;
}

.price-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 4px;
}

input, select {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.order {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.8rem 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}
      
canvas { margin: 30px 0; max-width: 600px; } 

.drink-entry { margin-bottom: 10%; padding: 0px; background: none; border-radius: 4px; }
.drink-entry select, .drink-entry input { margin-right: 10px; }
.drink-entry button { margin-top: 5px; }

select.drink, select.size {
  font-size: 1rem;
  color: #2c3e50;
  background-color: #eef2f7;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 0.2rem 0;
  width: 100%;
  max-width: 350px;
  display: inline-block;
}
select.amount {
  font-size: 1rem;
  padding: 0.4rem;
  border-radius: 6px;
  background-color: #eef2f7;
  border: 1px solid #ccc;
  width: 60px;
}


input[type="checkbox"] {
  transform: scale(1.3); 
  margin-right: 8px; 
  cursor: pointer; 
}

.order { border: 1px solid #ccc; padding: 10px; margin: 10px 0; background: #fff; border-radius: 6px; }
.status { font-weight: bold; }
button { margin-right: 5px; }
.section { margin-top: 30px; }
.section h2 { cursor: pointer; user-select: none; }
.hidden { display: none; }
.order.offen { background-color: #fffbe6; }
.order.in_bearbeitung { background-color: #e6f7ff; }
.order.fertig { background-color: #e6ffed; }
.order.geloescht { background-color: #ffe6e6; }